.contain {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    background: url("../media/image/Background.png") center center no-repeat  ;
    background-size: cover;
}


h1, caption {
    font:bold 2.8rem "Comic Sans MS", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px); /* pour Safari */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.img {
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 3;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 5px solid #ff5722;
    margin: 1%;
    pointer-events: none;
}